.callout-container{
    height: 100vh;
    width: 100%;
    background: url(../images/whiskey-bg.jpeg) no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #78010069;
    border-color: #78010069;
}

.quotes-container{

}

.features-container{

}

.top-whiskeys{

}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
color: white;
font-weight: bold;
margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: d0d0d0;
}

p.lead {
    color:white;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

/*buttons*/

.btn--cta {
    font-weight: bold;
    border-radius: 22px;
    width: 160px;
}

.btn-red {
    color: white;
    background-color: rgb(121, 0, 0);
    border: none;
}

/* Nav Bar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}

.navbar .navbar-toggler {
    border:0;
}